* {
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif}

.grid-container{
    display: grid;
    grid-gap: 10px;
    background-color: rgb(220, 237, 250);
    padding: 10px 5px;
}

.post{
    padding: 10px
}

.title{
    background-color: lightcyan;
    width: ('100%');
    height: 40px;
    padding: 12px;
    margin-bottom: 10px;
    position: relative;
}

.postBody{
    background-color: lightcyan;
    padding: 10px;
    width: ('100%');
    margin-bottom: 10px;
}

#newTitle{
    background-color: lightcyan;
    width: ('100%');
    height: 40px;
    padding: 12px;
    margin-bottom: 10px;
}


.edit{
    right: 40px;
}

#newText{
    background-color: lightcyan;
    padding: 10px;
    width: ('100%');
    min-height: 150px;
    margin-bottom: 10px;
}

#namebox{
    background-color: lightcyan;
    border: solid 2px rgb(117, 197, 211);
    grid-column: 1 / 2;
    grid-row: 1;
    font-weight: bold;
    font-size: 36px;
    padding: 10px;
}

#search{
    padding: 10px;
    grid-column: 2 / 3;
    grid-row: 1;
}

#search input{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 120px;
    height: 35px;
}

#navlinks{
    grid-column: 3 / 4;
    grid-row: 1;
}

#navlinks div{
    float:right;
    background-color: lightcyan;
    border: solid 2px rgb(117, 197, 211);
    padding: 20px 20px;
}

a:hover{
    color: rgb(0, 0, 0)}

.grid-container2{
    display: grid;
    grid-gap: 10px;
    background-color: rgb(220, 237, 250);
    padding: 10px 5px;
    grid-template-columns: auto 140px;
}

#PostBox{
    width: 100%;
    grid-gap: 10px;
    grid-column: 1 / 2;
    grid-row: 1;
}

#RightNav{
    grid-column: 2 / 3;
    grid-row: 1;
    background-color: lightcyan;
    border: solid 2px rgb(117, 197, 211);
}

.Month{
    right: 40px;
}

.post{
    background-color: rgb(117, 197, 211);
}

/* font-family: 'Roboto', sans-serif;
font-family: 'Kosugi', sans-serif;
font-family: 'Lora', serif;
font-family: 'Noto Sans', sans-serif; */

